<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/reset-min.css">  -->
    <link rel="stylesheet" type="text/css" href="/static/css/reset-fonts-grids.css"> 

    <!-- Data table deps -->
    <!-- Combo-handled YUI CSS files: --> 
    <link rel="stylesheet" type="text/css" href="/static/css/datatable.css"> 
    <!-- Combo-handled YUI JS files: --> 
    <script type="text/javascript" src="/static/js/jquery.min.js"></script> 
    <script type="text/javascript" src="/static/js/combo.js"></script> 
    <link rel="stylesheet" type="text/css" href="/static/css/site.css"> 
    <title>Sync Service</title>
  </head>

  <body class=" yui-skin-sam">

    <div id='doc2'>

      <div id='info_bar' style='background-color: {{ this_device.color }};'>
        Hi! my name is : {{ this_device.hnportcombo }} 
      </div>

      <span id='titlespan'>My Shared Files</span>
      <br>

      <!-- Todo: Use preferred name in dropdown if available -->
      {% if cache_device_list %}
      <form method='get' action='/remote' name='remotes_form'>
      Show files from device: 
      <select name='remote_device' id='remotes' onChange="document.forms['remotes_form'].submit()">
        <option value="{{this_device.hnportcombo}}">{{this_device.hnportcombo}}</option>
        {% for cached_device in cache_device_list %}
          <option 
          {% ifequal cached_device current_device %}
          selected
          {% endifequal %}
          value="{{cached_device}}">{{cached_device}}</option>
        {% endfor %}
      </select>
      </form>
      {% endif %}

      <br>

      <!-- TODO Support live changes -->
      <!-- TODO: Hide this after its been configured, but allow it to be enabled for reconfig -->
      <!-- TODO Prefill form with values from configuration -->
      <form method='get' action='/settings'>
        Change local device shared folder: 
        <input name='rootdir' type='text' value='{{this_device.rootdir}}'>

        Device Name:
        <input name='device_name' type='text' value='{{this_device.preferred_name}}' style='width:50px'>

        <input type='submit' value='Change'>
      </form>

      <form method='get' action='/'>
        Search: <input name='contains' type='text' value='' style='width:50px'> <input type='submit' value='Search'>
      </form>

      {% if message %}
        {{ message }}
      {% endif %}

      <br>
      <b>Viewing: {{ currently_viewing }}</b>

      {% if files %}
        <div id='markup_local_files'>
          <table id='local_files'>
            {% for file in files %}
              <tr>
                <td>{{ file.name }}</td>
                <td>{{ file.path }}</td>
                <td>{{ file.size|filesizeformat }}</td>
                <td>{{ file.mtime|timesince }} ago</td>
                <td>
                  {% if not file.deleted %}
                  <a href='/download/{{ file.full_path }}'><img title='Download file' src='/static/images/download.gif'></a>
                  {% endif %}
                </td>
                <td> 
                  <INPUT 
                  {% if file.deleted %}
                  checked="yes"
                  {% endif %}
                  
                  NAME="" TYPE=CHECKBOX DISABLED>
                </td>
                <td> 
                  {% if file.gdocs_able_to_upload %}
                  <a href='/xml/gdocsupload{{ file.full_path }}'><img title='Upload to Google Docs' src='/static/images/upload.png'></a>
                  {% endif %}
                </td>
                <td> 
                  {% if file.replicated %}
                  <input type='button' value='Restore' class='backup_button' onclick='javascript:restore("{{ file.full_path}}");'>
                  {{ file.repl_ratio }} 
                  {% else %}
                    {% if not file.deleted %}
                      <input type='button' value='Backup' class='backup_button' onclick='javascript:replicate("{{ file.full_path}}");'>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% else %}
          <p>No files are available.</p>
      {% endif %}

      <br>

      {% if gdocs_entries %}
      <b>Google Docs</b>
        <div id='markup_gdocs'>
          <table id='gdocs'>
            {% for doc in gdocs_entries %}
              <tr>
                <td>{{ doc.name }}</td>
                <td>{{ doc.lastmodified|timesince }} ago</td>
                <td>
                  <a href='{{ doc.view_link }}'><img title='View file in Google Docs' src='/static/images/external.png'></a>
                </td>
                <td>
                  <a href='{{ doc.download_link }}'><img title='Download file from Google Docs' src='/static/images/download.gif'></a>
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      {% else %}
          <p>No files are available.</p>
      {% endif %}


    </div>

    <script>


    YAHOO.util.Event.addListener(window, "load", function() { 
        YAHOO.example.EnhanceFromMarkup = new function() { 

          // GDocs Table
          var myColumnDefs_g = [ {key:"name",label:"File Name",sortable:true}, 
                                 {key:"lastmodified",label:"Last Modified",sortable:true}, 
                                 {key:"view",label:"View"}, 
                                 {key:"download",label:"Download"}]; 

          this.myDataSource_g = new YAHOO.util.DataSource(YAHOO.util.Dom.get("gdocs")); 
          this.myDataSource_g.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE; 
          this.myDataSource_g.responseSchema = { fields: [{key:"name"}, 
                                                          {key:"lastmodified"}, 
                                                          {key:"view"}, 
                                                          {key:"download"} ] }; 

       
          var configs_g = {sortedBy:{ key:"name",dir:"desc"}, paginator: new YAHOO.widget.Paginator({ rowsPerPage: 10 }) };
          this.myDataTable_g = new YAHOO.widget.DataTable("markup_gdocs", myColumnDefs_g, this.myDataSource_g, configs_g); 

          // Local files table
          var myColumnDefs_l = [ {key:"name",label:"File Name",sortable:true}, 
                                 {key:"path",label:"Path"}, 
                                 {key:"size",label:"File Size"}, 
                                 {key:"lastmodified",label:"Last Modified",sortable:true}, 
                                 {key:"download",label:"Download", maxAutoWidth:50},
                                 {key:"deleted",label:"Deleted"},
                                 {key:"upload",label:"Upload", maxAutoWidth:35}, 
                                 {key:"replicate",label:"Backup/Retrieve"}]; 
    
          this.myDataSource_l = new YAHOO.util.DataSource(YAHOO.util.Dom.get("local_files")); 
          this.myDataSource_l.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE; 
          this.myDataSource_l.responseSchema = { fields: [{key:"name"}, 
                                                          {key:"path"}, 
                                                          {key:"size"}, 
                                                          {key:"lastmodified"}, 
                                                          {key:"download"}, 
                                                          {key:"deleted"}, 
                                                          {key:"upload"}, 
                                                          {key:"replicate"} ] }; 

          var configs_l = {sortedBy:{ key:"name",dir:"desc"}, paginator: new YAHOO.widget.Paginator({ rowsPerPage: 10 }) };
          this.myDataTable_l = new YAHOO.widget.DataTable("markup_local_files", myColumnDefs_l, this.myDataSource_l, configs_l); 

        }; 
    }); 

    var replicate = function(file_path){

      var repl_num = window.prompt("How many replicas?");
      window.location = "http://{{ this_device.hnportcombo }}"+"/replicate/" + file_path + "?repl_num="+repl_num;
    }

    var restore = function(file_path){
      window.location = "http://{{ this_device.hnportcombo }}"+"/restore/" + file_path ;
    }


    </script>

  </body>
<html>
