<html>
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/reset-min.css">  -->
    <link rel="stylesheet" type="text/css" href="/static/css/reset-fonts-grids.css"> 

    <!-- Data table deps -->
    <!-- Combo-handled YUI CSS files: --> 
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/combo?2.7.0/build/datatable/assets/skins/sam/datatable.css"> 
    <!-- Combo-handled YUI JS files: --> 
    <script type="text/javascript" src="http://yui.yahooapis.com/combo?2.7.0/build/yahoo-dom-event/yahoo-dom-event.js&2.7.0/build/dragdrop/dragdrop-min.js&2.7.0/build/element/element-min.js&2.7.0/build/paginator/paginator-min.js&2.7.0/build/datasource/datasource-min.js&2.7.0/build/datatable/datatable-min.js"></script> 
    <link rel="stylesheet" type="text/css" href="/static/css/site.css"> 
  </head>

  <body class=" yui-skin-sam">


  <!-- TODO Support live changes -->
  <form method='get' action='/settings'>
    Add a device <br>

    Directory to share: 
    <input name='rootdir' type='text' value='/home/paul/shared'>

    Device Name:
    <input name='device_name' type='text' value='shared'>

    <input type='submit' value='Add'>
  </form>

  {% if message %}
    {{ message }}
  {% endif %}

  {% if gdocs_entries %}
  <b>Google Docs</b>
    <div id='markup_gdocs'>
      <table id='gdocs'>
        {% for doc in gdocs_entries %}
          <tr>
            <td>{{ doc.name }}</td>
            <td>{{ doc.lastmodified|timesince }} ago</td>
            <td>
              <a href='{{ doc.view_link }}'><img title='View file in Google Docs' src='/static/images/external.png'></a>
            </td>
            <td>
              <a href='{{ doc.download_link }}'><img title='Download file from Google Docs' src='/static/images/download.gif'></a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
      <p>No files are available.</p>
  {% endif %}

  <br>
  <b>Local Files</b>

  {% if files %}
    <div id='markup_local_files'>
      <table id='local_files'>
        {% for file in files %}
          <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.path }}</td>
            <td>{{ file.size|filesizeformat }}</td>
            <td>{{ file.mtime|timesince }} ago</td>
            <td>
              <a href='/download/{{ file.full_path }}'><img title='Download file' src='/static/images/download.gif'></a>
            </td>
            <td> 
              {% if file.gdocs_able_to_upload %}
              <a href='/xml/gdocsupload{{ file.full_path }}'><img title='Upload to Google Docs' src='/static/images/upload.png'></a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
      <p>No files are available.</p>
  {% endif %}

  <script>
  YAHOO.util.Event.addListener(window, "load", function() { 
      YAHOO.example.EnhanceFromMarkup = new function() { 

        // GDocs Table
        var myColumnDefs_g = [ {key:"name",label:"File Name",sortable:true}, 
                               {key:"lastmodified",label:"Last Modified",sortable:true}, 
                               {key:"view",label:"View"}, 
                               {key:"download",label:"Download"}]; 

        this.myDataSource_g = new YAHOO.util.DataSource(YAHOO.util.Dom.get("gdocs")); 
        this.myDataSource_g.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE; 
        this.myDataSource_g.responseSchema = { fields: [{key:"name"}, 
                                                        {key:"lastmodified"}, 
                                                        {key:"view"}, 
                                                        {key:"download"} ] }; 

     
        var configs_g = {sortedBy:{ key:"name",dir:"desc"}, paginator: new YAHOO.widget.Paginator({ rowsPerPage: 10 }) };
        this.myDataTable_g = new YAHOO.widget.DataTable("markup_gdocs", myColumnDefs_g, this.myDataSource_g, configs_g); 

        // Local files table
        var myColumnDefs_l = [ {key:"name",label:"File Name",sortable:true}, 
                               {key:"path",label:"Path"}, 
                               {key:"size",label:"File Size"}, 
                               {key:"lastmodified",label:"Last Modified",sortable:true}, 
                               {key:"download",label:"Download", maxAutoWidth:50},
                               {key:"upload",label:"Upload", maxAutoWidth:35}]; 
  
        this.myDataSource_l = new YAHOO.util.DataSource(YAHOO.util.Dom.get("local_files")); 
        this.myDataSource_l.responseType = YAHOO.util.DataSource.TYPE_HTMLTABLE; 
        this.myDataSource_l.responseSchema = { fields: [{key:"name"}, 
                                                        {key:"path"}, 
                                                        {key:"size"}, 
                                                        {key:"lastmodified"}, 
                                                        {key:"download"}, 
                                                        {key:"upload"} ] }; 

        var configs_l = {sortedBy:{ key:"name",dir:"desc"}, paginator: new YAHOO.widget.Paginator({ rowsPerPage: 10 }) };
        this.myDataTable_l = new YAHOO.widget.DataTable("markup_local_files", myColumnDefs_l, this.myDataSource_l, configs_l); 

      }; 
  }); 
  </script>

  </body>
<html>
