.yui-skin-sam .yui-dt-liner { white-space:nowrap; }  
.yui-skin-sam .yui-dt table { 
  font-size:12px; 
  width: 100%;
}

#markup_gdocs table, #markup_local_files table { 
  margin-left:auto; margin-right:auto; 
} 

#titlespan{
  font-size:25px;
  font-weight:bold;
}

#info_bar{
  background-color:#DCBDE7;
  border-bottom:1px solid #888;
  font-size:11px;
  font-style:oblique;
}

li{ list-style-type: circle; }

